.header {
    display: flex;
    justify-content: space-between;
}

.welcome-message {
    font-size: .95rem;
    font-weight: bold;
    line-height: .75rem;
}

.welcome-message p {
    color: rgba(128, 121, 121, 0.65);
}

.add-meal-button {
    background-color: #4f4caf;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-meal-button:hover {
    background-color: #3f3f9f;
}

.search-section {
    position: relative;
    display: flex;
}

.search-section input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 8px;
}

.search-icon span {
    color: black;
}

.loading {
  text-align: center;
  color: black;
  padding: 4rem;
}

.loading p {
  font-size: 1.25rem;
  font-weight: 500;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.meals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}