.header {
    display: flex;
    justify-content: space-between;
}

.welcome-message {
    font-size: .95rem;
    font-weight: bold;
    line-height: .75rem;
}

.welcome-message p {
    color: rgba(128, 121, 121, 0.65);
}

.add-meal-button {
    background-color: #4f4caf;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-meal-button:hover {
    background-color: #3f3f9f;
}

.search-section {
    position: relative;
    display: flex;
}

.search-section input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 8px;
}

.search-icon span {
    color: black;
}

.meals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}