.dialog-container {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dialog-container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333;
}

.dialog-container img {
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.dialog-container p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.dialog-container strong {
  color: #222;
}

.instructions-container {
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
  margin-bottom: 16px;
  padding-right: 8px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.instructions-container p {
  margin: 8px;
}


.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.actions button {
  background-color: #4f4caf;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 0.9rem;
  cursor: pointer;
}

.actions button:hover {
  background-color: #3f3f9f;
}

@media (max-width: 400px) {
  .dialog-container {
    padding: 16px;
  }

  .dialog-container h2 {
    font-size: 1.2rem;
  }

  .instructions-container {
    max-height: 100px;
  }
}